//
// Copyright (c) 2016-present, Facebook, Inc.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

#include "Shared/Platform/iOS.xcconfig"
#include "Shared/Product/Application.xcconfig"

PRODUCT_NAME = TestChat
PRODUCT_MODULE_NAME = TestChat
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.socketrocket.testchat

IPHONEOS_DEPLOYMENT_TARGET = 11.0

INFOPLIST_FILE = $(SRCROOT)/TestChat/TestChat-Info.plist
